
.bubble {
  margin: 10px;
  position: relative;
  min-width: 300px;
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 2px 2px grey;
}

.bubble:after {
  content: '';
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  border: 14px solid transparent;
  box-shadow: 0px 2px grey;
}

.bubble.self {
  background-color: #91d93b;
  float: right;
  margin-right: 10%;
}
.bubble.self:after {
  border-left-color: #91d93b;
  border-right: 0;
  border-bottom: 0;
  margin-top: -7px;
  margin-right: -14px;
  right: 0;
}

.bubble.remote {
  background-color: #d9dad8;
  float: left;
  margin-left: 10%;
}
.bubble.remote:after {
  border-right-color: #d9dad8;
  border-left: 0;
  border-bottom: 0;
  margin-top: -9px;
  margin-left: -12px;
  left: 0;
}

.bubble p {
  margin: 12px;
   z-index: 10000;
}

/* Efects on each bubble based on chat commands */
.bubble.highlight {
  font-size: 110%;
}
.bubble.remote.highlight {
  background-color: #b7b7b7;
}
.bubble.remote.highlight:after {
  border-right-color: #b7b7b7;
}

.bubble.self.highlight {
  background-color: #74af2f;
}
.bubble.self.highlight:after {
  border-left-color: #74af2f;
}

.bubble.fadelast {
  opacity: .10;
}

.bubble.think {
  color: darkgreen;
  font-weight: bolder;
}

/* Msgs from the system */
.system {
  margin: auto;
}

.system p {
  width: 180px;
  padding: 10px;
  background: #222222;
  color: white;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center
}
