
html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: arial;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .header {
  flex: 0 1 auto;
}

.box .message-holders {
  background-color: #dce1ee;
  display: inline-grid;
  flex: 1 1 auto;
  overflow: scroll;
}
.box .customInput {
  flex: 0 1 auto;
  display: flex;
}
